/* =================================================================
* Reset Style for PC
* Author:雪丘行||Bandow
* Author URI:http://www.unll123.com/
* Date:2017-10-20
* Version:0.0.1
* ================================================================== */
@import 'variable';
html{
	font-family:$publicFont;
  font-size:12px;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, div, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  /*把所有元素的内边距和边框不再会增加它的宽度*/
  -moz-box-sizing:border-box; /* Firefox */
  -webkit-box-sizing:border-box; /* Safari */
  box-sizing:border-box;
}
ol, ul {
  /*去掉列表点*/
  list-style: none;  
}
table {
  /*去掉表格的双行线*/
  border-collapse: collapse;      
  border-spacing: 0;
}
a{
  text-decoration:none;
  @include transition(all .5s);
}
/*去掉chrome表单自动填充去掉input黄色背景*/
input:-webkit-autofill, 
textarea:-webkit-autofill, 
select:-webkit-autofill { 
  -webkit-box-shadow: 0 0 0 1000px white inset; 
}
input[type=text]:focus, input[type=password]:focus, textarea:focus {
  -webkit-box-shadow: 0 0 0 1000px white inset; 
}
