@charset "UTF-8";
/* =================================================================
* Reset Style for PC
* Author:雪丘行||Bandow
* Author URI:http://www.unll123.com/
* Date:2017-10-20
* Version:0.0.1
* ================================================================== */
html {
  font-family: "Microsoft YaHei", Helvetica, Tahoma, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", STXihei, STHeiti, Heiti, SimSun, sans-serif;
  font-size: 12px;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, div, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  /*把所有元素的内边距和边框不再会增加它的宽度*/
  -moz-box-sizing: border-box;
  /* Firefox */
  -webkit-box-sizing: border-box;
  /* Safari */
  box-sizing: border-box;
}

ol, ul {
  /*去掉列表点*/
  list-style: none;
}

table {
  /*去掉表格的双行线*/
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

/*去掉chrome表单自动填充去掉input黄色背景*/
input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset;
}

input[type=text]:focus, input[type=password]:focus, textarea:focus {
  -webkit-box-shadow: 0 0 0 1000px white inset;
}

.w1200 {
  width: 1200px;
  margin: 0 auto;
}

.arrow-bottom {
  position: relative;
}
.arrow-bottom:after {
  content: '';
  position: absolute;
  top: 50%;
  right: 3px;
  width: 6px;
  height: 6px;
  border: 1px solid;
  border-bottom: 0;
  border-right: 0;
  margin-top: -5px;
  color: #d1d1d1;
  -webkit-transform: rotateZ(-135deg);
  transform: rotateZ(-135deg);
}

.arrow-left {
  position: relative;
}
.arrow-left:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 3px;
  width: 10px;
  height: 10px;
  border: 1px solid;
  border-bottom: 0;
  border-right: 0;
  margin-top: -5px;
  color: #333;
  -webkit-transform: rotateZ(-45deg);
  transform: rotateZ(-45deg);
}

.warapper {
  width: 100%;
  height: auto;
  background-color: #f9f9f9;
  min-width: 1200px;
  margin: 0 auto;
}

.header {
  position: relative;
}
.header .header-nav {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 69px;
}
.header .header-nav-content > a {
  float: left;
  display: inline-block;
  margin-right: 44px;
  font: 16px/69px "Microsoft YaHei", Helvetica, Tahoma, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", STXihei, STHeiti, Heiti, SimSun, sans-serif;
  color: #fff;
}
.header .header-nav-content > a:hover {
  color: #c62153;
}
.header .header-nav-content > a.active {
  color: #c62153;
}
.header .header-nav-content .logo {
  margin-right: 72px;
}
.header .header-nav-content .logo i {
  margin-top: 9px;
  width: 76px;
  height: 51px;
  display: block;
}
.header .header-nav-content .login-before {
  float: right;
  margin-top: 20px;
}
.header .header-nav-content .login-before > i {
  display: inline-block;
  margin-left: 28px;
  float: left;
  cursor: pointer;
}
.header .header-nav-content .login-before i.phone {
  position: relative;
  margin-top: 4px;
  width: 17px;
  height: 23px;
  background-position: -78px 0;
}
.header .header-nav-content .login-before i.phone .download-app {
  position: absolute;
  top: 35px;
  left: -79px;
  padding: 20px;
  display: none;
  width: 175px;
  background-color: #fff;
  border-radius: 5px;
  text-align: center;
  -moz-box-shadow: 0px 3px 5px #d9d9db;
  -o-box-shadow: 0px 3px 5px #d9d9db;
  -ms-box-shadow: 0px 3px 5px #d9d9db;
  -webkit-box-shadow: 0px 3px 5px #d9d9db;
  box-shadow: 0px 3px 5px #d9d9db;
}
.header .header-nav-content .login-before i.phone .download-app:before {
  position: absolute;
  left: 50%;
  top: -12px;
  margin-left: -6px;
  content: "";
  width: 0;
  height: 0;
  border: 6px solid;
  border-color: transparent transparent #fff transparent;
}
.header .header-nav-content .login-before i.phone .download-app img {
  width: 100%;
}
.header .header-nav-content .login-before i.phone .download-app h3 {
  font: bold 14px/2 "Microsoft YaHei", Helvetica, Tahoma, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", STXihei, STHeiti, Heiti, SimSun, sans-serif;
  color: #474747;
}
.header .header-nav-content .login-before i.phone .download-app p {
  font: 12px/2 "Microsoft YaHei", Helvetica, Tahoma, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", STXihei, STHeiti, Heiti, SimSun, sans-serif;
  color: #5d5d5d;
}
.header .header-nav-content .login-before i.phone .download-app p span {
  color: #c62153;
}
.header .header-nav-content .login-before i.help {
  position: relative;
  margin-top: 3px;
  width: 22px;
  height: 24px;
  background-position: -96px 0;
}
.header .header-nav-content .login-before i.help .help-menu {
  position: absolute;
  top: 35px;
  left: -79px;
  padding: 20px;
  display: none;
  width: 175px;
  background-color: #fff;
  border-radius: 3px;
  -moz-box-shadow: 0px 3px 5px #d9d9db;
  -o-box-shadow: 0px 3px 5px #d9d9db;
  -ms-box-shadow: 0px 3px 5px #d9d9db;
  -webkit-box-shadow: 0px 3px 5px #d9d9db;
  box-shadow: 0px 3px 5px #d9d9db;
}
.header .header-nav-content .login-before i.help .help-menu:before {
  position: absolute;
  left: 50%;
  top: -12px;
  margin-left: -6px;
  content: "";
  width: 0;
  height: 0;
  border: 6px solid;
  border-color: transparent transparent #fff transparent;
}
.header .header-nav-content .login-before i.help .help-menu dl dd i {
  float: left;
}
.header .header-nav-content .login-before i.help .help-menu dl dd i.i1 {
  width: 20px;
  height: 19px;
  background-position: -389px 0;
  display: inline-block;
}
.header .header-nav-content .login-before i.help .help-menu dl dd i.i2 {
  width: 20px;
  height: 21px;
  background-position: -411px 0;
  display: inline-block;
}
.header .header-nav-content .login-before i.help .help-menu dl dd span {
  margin-left: 10px;
  font: 14px/24px "Microsoft YaHei", Helvetica, Tahoma, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", STXihei, STHeiti, Heiti, SimSun, sans-serif;
  color: #474747;
}
.header .header-nav-content .login-before .en {
  display: inline-block;
  margin-left: 28px;
  float: left;
  margin-top: 5px;
  width: 22px;
  height: 22px;
  background-position: -120px 0;
}
.header .header-nav-content .login-before .login {
  float: left;
  margin-left: 28px;
  display: inline-block;
  width: 72px;
  height: 30px;
  border: 1px solid;
  color: #fff;
  border-radius: 3px;
  text-align: center;
  font: 14px/30px "Microsoft YaHei", Helvetica, Tahoma, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", STXihei, STHeiti, Heiti, SimSun, sans-serif;
}
.header .header-nav-content .login-before .login:hover {
  background-color: #9e1a42;
  border: 1px solid #9e1a42;
}
.header .header-nav-content .login-before .register {
  float: left;
  margin-left: 8px;
  display: inline-block;
  width: 74px;
  height: 30px;
  background-color: #c62153;
  border-radius: 3px;
  text-align: center;
  color: #fff;
  font: 14px/30px "Microsoft YaHei", Helvetica, Tahoma, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", STXihei, STHeiti, Heiti, SimSun, sans-serif;
}
.header .header-nav-content .login-before .register:hover {
  background-color: #9e1a42;
}
.header .header-nav-content .login-after {
  float: right;
  margin-top: 20px;
}
.header .header-nav-content .login-after > i {
  display: inline-block;
  margin-left: 28px;
  float: left;
  cursor: pointer;
}
.header .header-nav-content .login-after i.phone {
  position: relative;
  margin-top: 4px;
  width: 17px;
  height: 23px;
  background-position: -78px -25px;
  background-position: -78px 0;
}
.header .header-nav-content .login-after i.phone .download-app {
  position: absolute;
  top: 35px;
  left: -79px;
  padding: 10px;
  display: none;
  width: 175px;
  background-color: #fff;
  border-radius: 5px;
  text-align: center;
}
.header .header-nav-content .login-after i.phone .download-app:before {
  position: absolute;
  left: 50%;
  top: -12px;
  margin-left: -6px;
  content: "";
  width: 0;
  height: 0;
  border: 6px solid;
  border-color: transparent transparent #fff transparent;
}
.header .header-nav-content .login-after i.phone .download-app img {
  width: 100%;
}
.header .header-nav-content .login-after i.phone .download-app h3 {
  font: bold 14px/2 "Microsoft YaHei", Helvetica, Tahoma, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", STXihei, STHeiti, Heiti, SimSun, sans-serif;
  color: #474747;
}
.header .header-nav-content .login-after i.phone .download-app p {
  font: 12px/2 "Microsoft YaHei", Helvetica, Tahoma, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", STXihei, STHeiti, Heiti, SimSun, sans-serif;
  color: #5d5d5d;
}
.header .header-nav-content .login-after i.phone .download-app p span {
  color: #c62153;
}
.header .header-nav-content .login-after i.phone:hover {
  background-position: -78px 0;
}
.header .header-nav-content .login-after i.help {
  position: relative;
  margin-top: 3px;
  width: 22px;
  height: 24px;
  background-position: -96px -25px;
  background-position: -96px 0;
}
.header .header-nav-content .login-after i.help .help-menu {
  position: absolute;
  top: 35px;
  left: -79px;
  padding: 20px;
  display: none;
  width: 175px;
  background-color: #fff;
  border-radius: 3px;
}
.header .header-nav-content .login-after i.help .help-menu:before {
  position: absolute;
  left: 50%;
  top: -12px;
  margin-left: -6px;
  content: "";
  width: 0;
  height: 0;
  border: 6px solid;
  border-color: transparent transparent #fff transparent;
}
.header .header-nav-content .login-after i.help .help-menu dl dd a {
  margin-left: 10px;
  font: 14px/24px "Microsoft YaHei", Helvetica, Tahoma, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", STXihei, STHeiti, Heiti, SimSun, sans-serif;
  color: #474747;
}
.header .header-nav-content .login-after i.help .help-menu dl dd a:hover {
  color: #c62153;
}
.header .header-nav-content .login-after i.help .help-menu dl dd i {
  float: left;
}
.header .header-nav-content .login-after i.help .help-menu dl dd i.i1 {
  width: 20px;
  height: 19px;
  background-position: -389px 0;
  display: inline-block;
}
.header .header-nav-content .login-after i.help .help-menu dl dd i.i2 {
  width: 20px;
  height: 21px;
  background-position: -411px 0;
  display: inline-block;
}
.header .header-nav-content .login-after i.help:hover {
  background-position: -96px 0;
}
.header .header-nav-content .login-after .uset-name-content {
  position: relative;
  float: left;
}
.header .header-nav-content .login-after .uset-name-content .user-name {
  position: relative;
  margin-left: 30px;
  padding-right: 30px;
  font: 14px/30px "Microsoft YaHei", Helvetica, Tahoma, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", STXihei, STHeiti, Heiti, SimSun, sans-serif;
  color: #fff;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.header .header-nav-content .login-after .uset-name-content .user-name:before {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  width: 0;
  height: 0;
  border: 4px solid;
  margin-top: -2px;
  border-color: #fff transparent transparent transparent;
}
.header .header-nav-content .login-after .uset-name-content .user-name:hover {
  color: #c62153;
}
.header .header-nav-content .login-after .uset-name-content .user-name.on:before {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  width: 0;
  height: 0;
  border: 4px solid;
  margin-top: -5px;
  border-color: transparent transparent #fff transparent;
}
.header .header-nav-content .login-after .uset-name-content .user-name-menu {
  position: absolute;
  top: 30px;
  right: 10px;
  padding: 20px;
  display: none;
  background-color: #fff;
  border-radius: 3px;
}
.header .header-nav-content .login-after .uset-name-content .user-name-menu:before {
  position: absolute;
  left: 50%;
  top: -12px;
  margin-left: -6px;
  content: "";
  width: 0;
  height: 0;
  border: 6px solid;
  border-color: transparent transparent #fff transparent;
}
.header .header-nav-content .login-after .uset-name-content .user-name-menu dl dd {
  padding: 0 10px;
}
.header .header-nav-content .login-after .uset-name-content .user-name-menu dl dd a {
  font: 14px/2.4 "Microsoft YaHei", Helvetica, Tahoma, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", STXihei, STHeiti, Heiti, SimSun, sans-serif;
  color: #474747;
}
.header .header-nav-content .login-after .uset-name-content .user-name-menu dl dd a:hover {
  color: #c62153;
}
.header .header-nav-content .login-after .en {
  display: inline-block;
  margin-left: 28px;
  float: left;
  margin-top: 5px;
  width: 22px;
  height: 22px;
  background-position: -120px 0;
}
.header .header-search {
  position: absolute;
  bottom: 74px;
  left: 50%;
  z-index: 2;
  width: 1036px;
  margin-left: -518px;
  background-color: #fff;
  border-radius: 5px;
}
.header .header-search > div {
  display: inline-block;
}
.header .header-search > div > p {
  margin-top: -10px;
  font: 16px/2 "Microsoft YaHei", Helvetica, Tahoma, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", STXihei, STHeiti, Heiti, SimSun, sans-serif;
  color: #7a7a7a;
}
.header .header-search .city-content {
  padding: 0 25px;
  margin: 20px 25px 20px 0;
  border-right: 1px solid #dcdcdc;
}
.header .header-search .city-content .input_box {
  position: relative;
}
.header .header-search .city-content .select-city {
  display: block;
  width: 205px;
  height: 40px;
  font-size: 0;
}
.header .header-search .city-content .select-city #cityCheck {
  width: 100%;
  height: 100%;
  background: none;
  border: none;
  outline: none;
  font: 20px/2 "Microsoft YaHei", Helvetica, Tahoma, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", STXihei, STHeiti, Heiti, SimSun, sans-serif;
  color: #1e1e1e;
}
.header .header-search .city-content .select-city #cityCheck::-webkit-input-placeholder {
  color: #1e1e1e;
}
.header .header-search .city-content .select-city .Mcheckin_city, .header .header-search .city-content .select-city .Mcheckin_none, .header .header-search .city-content .select-city .Mcheckin_check {
  left: -25px;
  top: 70px;
}
.header .header-search .date {
  cursor: pointer;
}
.header .header-search .date > div {
  display: inline-block;
}
.header .header-search .date > div p {
  margin-top: -10px;
  font: 16px/2 "Microsoft YaHei", Helvetica, Tahoma, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", STXihei, STHeiti, Heiti, SimSun, sans-serif;
  color: #7a7a7a;
}
.header .header-search .date .in {
  padding: 0 22px 0 0;
  margin: 20px 20px 20px 0;
  border-right: 1px solid #dcdcdc;
}
.header .header-search .date .in h6 {
  width: 205px;
  height: 40px;
  font: 20px/2 "Microsoft YaHei", Helvetica, Tahoma, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", STXihei, STHeiti, Heiti, SimSun, sans-serif;
  color: #1e1e1e;
}
.header .header-search .date .out {
  padding: 0 22px 0 0;
  margin: 20px 20px 20px 0;
}
.header .header-search .date .out h6 {
  width: 205px;
  height: 40px;
  font: 20px/2 "Microsoft YaHei", Helvetica, Tahoma, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", STXihei, STHeiti, Heiti, SimSun, sans-serif;
  color: #1e1e1e;
}
.header .header-search .btn {
  float: right;
  padding: 18px 0;
  width: 240px;
  border-radius: 0 5px 5px 0;
  background-color: #c62153;
  cursor: pointer;
}
.header .header-search .btn h4 {
  padding: 13px 0;
  text-align: center;
  font: 24px/1.2 "Microsoft YaHei", Helvetica, Tahoma, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", STXihei, STHeiti, Heiti, SimSun, sans-serif;
  color: #fff;
}
.header .header-search .btn h4 i {
  margin-right: 10px;
  display: inline-block;
  width: 20px;
  height: 22px;
  background-position: -143px 0;
}
.header .header-search .btn p {
  text-align: center;
  font: 12px/2 "Microsoft YaHei", Helvetica, Tahoma, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", STXihei, STHeiti, Heiti, SimSun, sans-serif;
  color: #fff;
  opacity: .4;
}
.header .header-search .btn:hover {
  background-color: #9e1a42;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  width: 100%;
  height: 70px;
  background-color: #fff;
  -moz-box-shadow: 0px 3px 5px #d9d9db;
  -o-box-shadow: 0px 3px 5px #d9d9db;
  -ms-box-shadow: 0px 3px 5px #d9d9db;
  -webkit-box-shadow: 0px 3px 5px #d9d9db;
  box-shadow: 0px 3px 5px #d9d9db;
  -moz-transform: translate(0, -150%);
  -o-transform: translate(0, -150%);
  -ms-transform: translate(0, -150%);
  -webkit-transform: translate(0, -150%);
  transform: translate(0, -150%);
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.nav .nav-content .logo {
  float: left;
  margin-right: 40px;
}
.nav .nav-content .logo i {
  margin-top: 9px;
  width: 74px;
  height: 50px;
  display: block;
}
.nav .nav-content label {
  margin-top: 15px;
  float: left;
  padding: 0 20px;
  width: 300px;
  height: 39px;
  border-radius: 30px;
  border: 1px solid #e5e5e5;
  font-size: 0;
}
.nav .nav-content label i {
  float: left;
  margin-top: 13px;
  width: 14px;
  height: 15px;
  background-position: -433px 0;
}
.nav .nav-content label input {
  float: left;
  margin-left: 10px;
  background: none;
  border: none;
  outline: none;
  width: 230px;
  height: 100%;
  font: 14px/2 "Microsoft YaHei", Helvetica, Tahoma, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", STXihei, STHeiti, Heiti, SimSun, sans-serif;
  color: #1e1e1e;
}
.nav .nav-content label input::-webkit-input-placeholder {
  color: #9a9a9a;
}
.nav .nav-content .nav-right {
  float: right;
  display: inline-block;
  margin-top: 20px;
}
.nav .nav-content .nav-right > i {
  float: left;
  margin-left: 28px;
  cursor: pointer;
}
.nav .nav-content .nav-right i.phone {
  position: relative;
  margin-top: 4px;
  width: 17px;
  height: 23px;
  background-position: -78px -25px;
}
.nav .nav-content .nav-right i.phone .download-app {
  position: absolute;
  top: 35px;
  left: -79px;
  padding: 10px;
  display: none;
  width: 175px;
  background-color: #fff;
  border-radius: 5px;
  text-align: center;
  border: 1px solid #e5e5e5;
  -moz-box-shadow: 0px 1px 3px #d9d9db;
  -o-box-shadow: 0px 1px 3px #d9d9db;
  -ms-box-shadow: 0px 1px 3px #d9d9db;
  -webkit-box-shadow: 0px 1px 3px #d9d9db;
  box-shadow: 0px 1px 3px #d9d9db;
}
.nav .nav-content .nav-right i.phone .download-app img {
  width: 100%;
}
.nav .nav-content .nav-right i.phone .download-app:before {
  position: absolute;
  left: 50%;
  top: -12px;
  z-index: 1;
  margin-left: -6px;
  content: "";
  width: 0;
  height: 0;
  border: 6px solid;
  border-color: transparent transparent #fff transparent;
}
.nav .nav-content .nav-right i.phone .download-app:after {
  position: absolute;
  left: 50%;
  top: -13px;
  margin-left: -6px;
  content: "";
  width: 0;
  height: 0;
  border: 6px solid;
  border-color: transparent transparent #e5e5e5 transparent;
}
.nav .nav-content .nav-right i.phone .download-app h3 {
  font: bold 14px/2 "Microsoft YaHei", Helvetica, Tahoma, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", STXihei, STHeiti, Heiti, SimSun, sans-serif;
  color: #474747;
}
.nav .nav-content .nav-right i.phone .download-app p {
  font: 12px/2 "Microsoft YaHei", Helvetica, Tahoma, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", STXihei, STHeiti, Heiti, SimSun, sans-serif;
  color: #5d5d5d;
}
.nav .nav-content .nav-right i.phone .download-app p span {
  color: #c62153;
}
.nav .nav-content .nav-right i.help {
  position: relative;
  margin-top: 3px;
  width: 22px;
  height: 24px;
  background-position: -96px -25px;
}
.nav .nav-content .nav-right i.help .help-menu {
  position: absolute;
  top: 35px;
  left: -79px;
  padding: 20px;
  display: none;
  width: 175px;
  background-color: #fff;
  border-radius: 3px;
  border: 1px solid #e5e5e5;
  -moz-box-shadow: 0px 1px 3px #d9d9db;
  -o-box-shadow: 0px 1px 3px #d9d9db;
  -ms-box-shadow: 0px 1px 3px #d9d9db;
  -webkit-box-shadow: 0px 1px 3px #d9d9db;
  box-shadow: 0px 1px 3px #d9d9db;
}
.nav .nav-content .nav-right i.help .help-menu:before {
  position: absolute;
  left: 50%;
  top: -12px;
  z-index: 1;
  margin-left: -6px;
  content: "";
  width: 0;
  height: 0;
  border: 6px solid;
  border-color: transparent transparent #fff transparent;
}
.nav .nav-content .nav-right i.help .help-menu:after {
  position: absolute;
  left: 50%;
  top: -13px;
  margin-left: -6px;
  content: "";
  width: 0;
  height: 0;
  border: 6px solid;
  border-color: transparent transparent #e5e5e5 transparent;
}
.nav .nav-content .nav-right i.help .help-menu dl dd i {
  float: left;
}
.nav .nav-content .nav-right i.help .help-menu dl dd i.i1 {
  width: 20px;
  height: 19px;
  background-position: -389px 0;
  display: inline-block;
}
.nav .nav-content .nav-right i.help .help-menu dl dd i.i2 {
  width: 20px;
  height: 21px;
  background-position: -411px 0;
  display: inline-block;
}
.nav .nav-content .nav-right i.help .help-menu dl dd span {
  margin-left: 10px;
  font: 14px/24px "Microsoft YaHei", Helvetica, Tahoma, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", STXihei, STHeiti, Heiti, SimSun, sans-serif;
  color: #474747;
}
.nav .nav-content .nav-right .en {
  display: inline-block;
  margin-left: 28px;
  float: left;
  margin-top: 5px;
  width: 22px;
  height: 22px;
  background-position: -120px -25px;
}
.nav .nav-content .nav-right > a {
  float: left;
  display: inline-block;
  margin-left: 40px;
  font: bold 16px/30px "Microsoft YaHei", Helvetica, Tahoma, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", STXihei, STHeiti, Heiti, SimSun, sans-serif;
  color: #303030;
}
.nav .nav-content .nav-right > a:hover {
  color: #c62153;
}
.nav .nav-content .nav-right > a.active {
  color: #c62153;
}
.nav .nav-content .nav-right .login-before {
  float: left;
}
.nav .nav-content .nav-right .login-before .login {
  float: left;
  margin-left: 28px;
  display: inline-block;
  width: 72px;
  height: 30px;
  border: 1px solid;
  color: #c62153;
  border-radius: 3px;
  text-align: center;
  font: 14px/30px "Microsoft YaHei", Helvetica, Tahoma, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", STXihei, STHeiti, Heiti, SimSun, sans-serif;
}
.nav .nav-content .nav-right .login-before .login:hover {
  background-color: #9e1a42;
  border: 1px solid #9e1a42;
  color: #fff;
}
.nav .nav-content .nav-right .login-before .register {
  float: left;
  margin-left: 8px;
  display: inline-block;
  width: 74px;
  height: 30px;
  background-color: #c62153;
  border-radius: 3px;
  text-align: center;
  color: #fff;
  font: 14px/30px "Microsoft YaHei", Helvetica, Tahoma, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", STXihei, STHeiti, Heiti, SimSun, sans-serif;
}
.nav .nav-content .nav-right .login-before .register:hover {
  background-color: #9e1a42;
}
.nav .nav-content .nav-right .login-after {
  float: left;
}
.nav .nav-content .nav-right .login-after .uset-name-content {
  position: relative;
  float: left;
}
.nav .nav-content .nav-right .login-after .uset-name-content .user-name {
  position: relative;
  margin-left: 30px;
  padding-right: 30px;
  font: 14px/30px "Microsoft YaHei", Helvetica, Tahoma, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", STXihei, STHeiti, Heiti, SimSun, sans-serif;
  color: #303030;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.nav .nav-content .nav-right .login-after .uset-name-content .user-name:before {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  width: 0;
  height: 0;
  border: 4px solid;
  margin-top: -2px;
  border-color: #ccc transparent transparent transparent;
}
.nav .nav-content .nav-right .login-after .uset-name-content .user-name:hover {
  color: #c62153;
}
.nav .nav-content .nav-right .login-after .uset-name-content .user-name.on:before {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  width: 0;
  height: 0;
  border: 4px solid;
  margin-top: -5px;
  border-color: transparent transparent #ccc transparent;
}
.nav .nav-content .nav-right .login-after .uset-name-content .user-name-menu {
  position: absolute;
  top: 30px;
  right: 10px;
  padding: 20px;
  display: none;
  background-color: #fff;
  border-radius: 3px;
  -moz-box-shadow: 0px 1px 3px #d9d9db;
  -o-box-shadow: 0px 1px 3px #d9d9db;
  -ms-box-shadow: 0px 1px 3px #d9d9db;
  -webkit-box-shadow: 0px 1px 3px #d9d9db;
  box-shadow: 0px 1px 3px #d9d9db;
}
.nav .nav-content .nav-right .login-after .uset-name-content .user-name-menu:before {
  position: absolute;
  left: 50%;
  top: -12px;
  z-index: 1;
  margin-left: -6px;
  content: "";
  width: 0;
  height: 0;
  border: 6px solid;
  border-color: transparent transparent #fff transparent;
}
.nav .nav-content .nav-right .login-after .uset-name-content .user-name-menu:after {
  position: absolute;
  left: 50%;
  top: -13px;
  margin-left: -6px;
  content: "";
  width: 0;
  height: 0;
  border: 6px solid;
  border-color: transparent transparent #e5e5e5 transparent;
}
.nav .nav-content .nav-right .login-after .uset-name-content .user-name-menu dl dd {
  padding: 0 10px;
}
.nav .nav-content .nav-right .login-after .uset-name-content .user-name-menu dl dd a {
  font: 14px/2.4 "Microsoft YaHei", Helvetica, Tahoma, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", STXihei, STHeiti, Heiti, SimSun, sans-serif;
  color: #474747;
}
.nav .nav-content .nav-right .login-after .uset-name-content .user-name-menu dl dd a:hover {
  color: #c62153;
}

.nav.nav-active {
  -moz-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}

.content {
  width: 100%;
  height: auto;
  padding-bottom: 75px;
}

.brand {
  padding-top: 75px;
}
.brand .line {
  margin: 0 auto;
  width: 74px;
  height: 3px;
  background-color: #c62153;
}
.brand > h2 {
  text-align: center;
  font: 30px/1.5 "Microsoft YaHei", Helvetica, Tahoma, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", STXihei, STHeiti, Heiti, SimSun, sans-serif;
  color: #4c4c4c;
  margin-bottom: 30px;
}
.brand > p {
  text-align: center;
  font: 16px/28px "Microsoft YaHei", Helvetica, Tahoma, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", STXihei, STHeiti, Heiti, SimSun, sans-serif;
  color: #7c7c7c;
}
.brand .brand-list {
  margin: 60px auto 0;
  width: 1000px;
  height: 262px;
}
.brand .brand-list ul li {
  position: relative;
  float: left;
  padding: 0 45px;
  margin-top: 25px;
  display: inline-block;
  cursor: pointer;
}
.brand .brand-list ul li i {
  display: block;
  width: 106px;
  height: 106px;
}
.brand .brand-list ul li p {
  position: absolute;
  top: -52px;
  left: 50%;
  margin-left: -64px;
  padding: 0 10px;
  display: block;
  font: 12px/32px "Microsoft YaHei", Helvetica, Tahoma, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", STXihei, STHeiti, Heiti, SimSun, sans-serif;
  color: #fff;
  border-radius: 5px;
  opacity: 0;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  -ms-transition: all 1s;
  -webkit-transition: all 1s;
  transition: all 1s;
}
.brand .brand-list ul li p:before {
  position: absolute;
  top: 30px;
  left: 50%;
  margin-left: -6px;
  content: "";
  width: 0;
  height: 0;
  border: 6px solid;
}
.brand .brand-list li.yicheng i {
  background-position: 0 0;
}
.brand .brand-list li.yicheng p {
  background-color: #a72126;
}
.brand .brand-list li.yicheng p:before {
  border-color: #a72126 transparent transparent transparent;
}
.brand .brand-list li.yishang i {
  background-position: -106px 0;
}
.brand .brand-list li.yishang p {
  background-color: #ca134e;
}
.brand .brand-list li.yishang p:before {
  border-color: #ca134e transparent transparent transparent;
}
.brand .brand-list li.boman i {
  background-position: -212px 0;
}
.brand .brand-list li.boman p {
  background-color: #78191d;
}
.brand .brand-list li.boman p:before {
  border-color: #78191d transparent transparent transparent;
}
.brand .brand-list li.ccinn i {
  background-position: -318px 0;
}
.brand .brand-list li.ccinn p {
  background-color: #147a80;
}
.brand .brand-list li.ccinn p:before {
  border-color: #147a80 transparent transparent transparent;
}
.brand .brand-list li.jingtu i {
  background-position: -424px 0;
}
.brand .brand-list li.jingtu p {
  background-color: #432007;
}
.brand .brand-list li.jingtu p:before {
  border-color: #432007 transparent transparent transparent;
}
.brand .brand-list li.yinmo i {
  background-position: -530px 0;
}
.brand .brand-list li.yinmo p {
  background-color: #929ba0;
}
.brand .brand-list li.yinmo p:before {
  border-color: #929ba0 transparent transparent transparent;
}
.brand .brand-list li.bodun i {
  background-position: -636px 0;
}
.brand .brand-list li.bodun p {
  background-color: #b99d64;
}
.brand .brand-list li.bodun p:before {
  border-color: #b99d64 transparent transparent transparent;
}
.brand .brand-list li.yuejian i {
  background-position: -742px 0;
}
.brand .brand-list li.yuejian p {
  background-color: #43a838;
}
.brand .brand-list li.yuejian p:before {
  border-color: #43a838 transparent transparent transparent;
}
.brand .brand-list li.fairfield i {
  background-position: -848px 0;
}
.brand .brand-list li.fairfield p {
  background-color: #00a2df;
}
.brand .brand-list li.fairfield p:before {
  border-color: #00a2df transparent transparent transparent;
}
.brand .brand-list li.dacheng i {
  background-position: -954px 0;
}
.brand .brand-list li.dacheng p {
  background-color: #9e8965;
}
.brand .brand-list li.dacheng p:before {
  border-color: #9e8965 transparent transparent transparent;
}
.brand .brand-list ul li.active p {
  opacity: 1;
  top: -32px;
}
.brand .brand-list li.active.yicheng i {
  background-position: 0 -106px;
}
.brand .brand-list li.active.yishang i {
  background-position: -106px -106px;
}
.brand .brand-list li.active.boman i {
  background-position: -212px -106px;
}
.brand .brand-list li.active.ccinn i {
  background-position: -318px -106px;
}
.brand .brand-list li.active.jingtu i {
  background-position: -424px -106px;
}
.brand .brand-list li.active.yinmo i {
  background-position: -530px -106px;
}
.brand .brand-list li.active.bodun i {
  background-position: -636px -106px;
}
.brand .brand-list li.active.yuejian i {
  background-position: -742px -106px;
}
.brand .brand-list li.active.fairfield i {
  background-position: -848px -106px;
}
.brand .brand-list li.active.dacheng i {
  background-position: -954px -106px;
}

.preferential {
  padding-top: 75px;
}
.preferential .line {
  margin: 0 auto;
  width: 74px;
  height: 3px;
  background-color: #c62153;
}
.preferential > h2 {
  text-align: center;
  font: 30px/1.5 "Microsoft YaHei", Helvetica, Tahoma, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", STXihei, STHeiti, Heiti, SimSun, sans-serif;
  color: #4c4c4c;
  margin-bottom: 30px;
}
.preferential .preferential-img {
  width: 100%;
  height: auto;
  overflow: hidden;
}
.preferential .preferential-img > div ul li {
  position: relative;
  display: inline-block;
  font-size: 0;
  overflow: hidden;
}
.preferential .preferential-img > div ul li > img {
  -moz-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.preferential .preferential-img > div ul li .preferential-info > p {
  position: absolute;
  left: 28px;
  bottom: 26px;
  font: 24px/1.5 "Microsoft YaHei", Helvetica, Tahoma, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", STXihei, STHeiti, Heiti, SimSun, sans-serif;
  color: #fff;
}
.preferential .preferential-img > div ul li .preferential-info > p strong {
  font-weight: bold;
}
.preferential .preferential-img > div ul li .preferential-info > p:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 134px;
  height: 1px;
  background-color: #fff;
}
.preferential .preferential-img > div ul li .preferential--detail {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.preferential .preferential-img > div ul li .preferential--detail .preferential-detail-bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #c62153;
  opacity: .65;
  filter: alpha(opacity=70);
  z-index: 0;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.preferential .preferential-img > div ul li .preferential-detail-text {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  z-index: 1;
  opacity: 0;
  -moz-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
}
.preferential .preferential-img > div ul li .preferential-detail-text h3 {
  width: 100%;
  font: bold 24px/1.5 "Microsoft YaHei", Helvetica, Tahoma, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", STXihei, STHeiti, Heiti, SimSun, sans-serif;
  color: #fff;
  text-align: center;
}
.preferential .preferential-img > div ul li .preferential-detail-text h4 {
  width: 100%;
  font: 24px/1.5 "Microsoft YaHei", Helvetica, Tahoma, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", STXihei, STHeiti, Heiti, SimSun, sans-serif;
  color: #fff;
  text-align: center;
}
.preferential .preferential-img > div ul li .preferential-detail-text a {
  display: block;
  margin: 15px auto 0;
  width: 140px;
  font: 16px/40px "Microsoft YaHei", Helvetica, Tahoma, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", STXihei, STHeiti, Heiti, SimSun, sans-serif;
  color: #fff;
  text-align: center;
  border: 1px solid;
  border-radius: 5px;
}
.preferential .preferential-img > div ul li.active > img {
  -moz-transform: scale(1.1, 1.1);
  -o-transform: scale(1.1, 1.1);
  -ms-transform: scale(1.1, 1.1);
  -webkit-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
}
.preferential .preferential-img > div ul li.active .preferential--detail {
  top: 0;
}
.preferential .preferential-img > div ul li.active .preferential-detail-text {
  opacity: 1;
  -moz-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
}
.preferential .preferential-img .l {
  display: inline-block;
  float: left;
  width: 398px;
}
.preferential .preferential-img .l ul li .preferential--detail {
  position: absolute;
  top: 0;
  left: 100%;
  right: 0;
  bottom: 0;
}
.preferential .preferential-img .l ul li.active .preferential--detail {
  left: 0;
}
.preferential .preferential-img .r {
  display: inline-block;
  float: left;
  margin-left: 3px;
  width: 799px;
}
.preferential .preferential-img .r ul li {
  float: left;
  font-size: 0;
}
.preferential .preferential-img .r .r-2 {
  margin-left: 3px;
}
.preferential .preferential-img .r .r-3 {
  margin: 3px 3px 0 0;
}
.preferential .preferential-img .r .r-4 {
  margin-top: 3px;
}

.dossen {
  padding-top: 75px;
}
.dossen .line {
  margin: 0 auto;
  width: 74px;
  height: 3px;
  background-color: #c62153;
}
.dossen > h2 {
  text-align: center;
  font: 30px/1.5 "Microsoft YaHei", Helvetica, Tahoma, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", STXihei, STHeiti, Heiti, SimSun, sans-serif;
  color: #4c4c4c;
  margin-bottom: 30px;
}
.dossen .dossen-free-add {
  position: relative;
}
.dossen .dossen-free-add .text {
  position: absolute;
  left: 94px;
  top: 50%;
  -moz-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
}
.dossen .dossen-free-add .text h2 {
  font: 40px/2 "Microsoft YaHei", Helvetica, Tahoma, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", STXihei, STHeiti, Heiti, SimSun, sans-serif;
  color: #fff;
}
.dossen .dossen-free-add .text p {
  font: 16px/1.8 "Microsoft YaHei", Helvetica, Tahoma, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", STXihei, STHeiti, Heiti, SimSun, sans-serif;
  color: #fff;
}
.dossen .dossen-free-add .text a {
  margin-top: 30px;
  display: block;
  width: 240px;
  height: 60px;
  border: 1px solid;
  color: #fff;
  font: 18px/60px "Microsoft YaHei", Helvetica, Tahoma, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", STXihei, STHeiti, Heiti, SimSun, sans-serif;
  border-radius: 5px;
  text-align: center;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.dossen .dossen-free-add .text a:hover {
  background: rgba(198, 33, 83, 0.78);
  border: none;
}
.dossen .dossen-describe {
  padding-top: 60px;
  overflow: hidden;
}
.dossen .dossen-describe ul li {
  float: left;
  width: 400px;
  padding-left: 50px;
}
.dossen .dossen-describe ul li .icon {
  float: left;
  display: inline-block;
  font-size: 0;
  margin-top: 2px;
}
.dossen .dossen-describe ul li .icon i {
  width: 57px;
  height: 57px;
  display: inline-block;
  vertical-align: middle;
}
.dossen .dossen-describe ul li .icon i.integral-icon {
  background-position: -212px 0;
}
.dossen .dossen-describe ul li .icon i.privilege-icon {
  background-position: -271px 0;
}
.dossen .dossen-describe ul li .icon i.guarantee-icon {
  background-position: -330px 0;
}
.dossen .dossen-describe ul li .dossen-describe-text {
  margin-left: 80px;
}
.dossen .dossen-describe ul li .dossen-describe-text h3 {
  font: 24px/1.5 "Microsoft YaHei", Helvetica, Tahoma, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", STXihei, STHeiti, Heiti, SimSun, sans-serif;
  color: #444;
}
.dossen .dossen-describe ul li .dossen-describe-text p {
  font: 16px/1.5 "Microsoft YaHei", Helvetica, Tahoma, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", STXihei, STHeiti, Heiti, SimSun, sans-serif;
  color: #444;
}
.dossen .dossen-describe ul li .dossen-describe-text p span {
  margin-right: 10px;
}
.dossen .dossen-describe ul li.middle {
  border-left: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
}

.footer {
  width: 100%;
  height: auto;
  overflow: hidden;
  border-top: 1px solid #e5e5e5;
}
.footer .footer-content {
  padding-bottom: 20px;
}
.footer .footer-content > p {
  margin-left: 265px;
  color: #444;
  font: 12px/1.5 "Microsoft YaHei", Helvetica, Tahoma, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", STXihei, STHeiti, Heiti, SimSun, sans-serif;
  overflow: hidden;
}
.footer .footer-content > p a {
  color: #444;
  font: 12px/1.5 "Microsoft YaHei", Helvetica, Tahoma, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", STXihei, STHeiti, Heiti, SimSun, sans-serif;
}
.footer .footer-content > p i {
  float: left;
  margin-right: 5px;
  display: inline-block;
  width: 18px;
  height: 20px;
  background-position: -144px -25px;
}
.footer .footer-content > p em {
  padding: 0 10px;
}

.footer-info {
  padding: 60px 0;
  overflow: hidden;
}
.footer-info .footer-map {
  margin-left: 20px;
  float: left;
  display: inline-block;
  overflow: hidden;
}
.footer-info .footer-map dl {
  float: left;
  margin-right: 37px;
  width: 80px;
}
.footer-info .footer-map dl dt {
  color: #1e1e1e;
  font: bold 14px/1.5 "Microsoft YaHei", Helvetica, Tahoma, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", STXihei, STHeiti, Heiti, SimSun, sans-serif;
  margin-bottom: 10px;
}
.footer-info .footer-map dl dd a {
  color: #444;
  font: 12px/1.5 "Microsoft YaHei", Helvetica, Tahoma, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", STXihei, STHeiti, Heiti, SimSun, sans-serif;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.footer-info .footer-map dl dd a:hover {
  color: #c62153;
  padding-left: 10px;
}
.footer-info .footer-code {
  float: left;
  padding: 0 40px;
  display: inline-block;
}
.footer-info .footer-code ul li {
  padding: 0 40px;
  display: inline-block;
}
.footer-info .footer-code ul li .img {
  font-size: 0;
  width: 110px;
}
.footer-info .footer-code ul li .img img {
  width: 100%;
}
.footer-info .footer-code ul li p {
  text-align: center;
  color: #444;
  font: 14px/1.5 "Microsoft YaHei", Helvetica, Tahoma, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", STXihei, STHeiti, Heiti, SimSun, sans-serif;
}
.footer-info .footer-contact {
  float: left;
  margin-left: 80px;
  display: inline-block;
}
.footer-info .footer-contact dl dt {
  color: #444;
  font: 14px/1.5 "Microsoft YaHei", Helvetica, Tahoma, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", STXihei, STHeiti, Heiti, SimSun, sans-serif;
}
.footer-info .footer-contact dl dd {
  color: #c62153;
  font: 16px/1.5 "Microsoft YaHei", Helvetica, Tahoma, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", STXihei, STHeiti, Heiti, SimSun, sans-serif;
}
.footer-info .footer-contact dl .hot-call {
  margin-top: 20px;
}

.go-back {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 11;
  display: none;
  width: 93px;
  height: 140px;
  background-color: #dcdcdc;
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin-left: 690px;
}
.go-back ul li {
  width: 100%;
  height: 70px;
  cursor: pointer;
}
.go-back ul li i {
  display: block;
  margin: 0 auto;
}
.go-back .feedback {
  padding-top: 15px;
  background-color: #c62153;
}
.go-back .feedback i {
  width: 26px;
  height: 18px;
  background-position: -166px 0;
}
.go-back .feedback p {
  font: 12px/2 "Microsoft YaHei", Helvetica, Tahoma, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", STXihei, STHeiti, Heiti, SimSun, sans-serif;
  color: #fff;
  text-align: center;
}
.go-back .top-head {
  padding-top: 18px;
}
.go-back .top-head i {
  width: 16px;
  height: 11px;
  background-position: -193px 0;
}
.go-back .top-head p {
  font: 12px/2 "Microsoft YaHei", Helvetica, Tahoma, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", STXihei, STHeiti, Heiti, SimSun, sans-serif;
  color: #343434;
  text-align: center;
}

#iframe {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 101;
  display: none;
}

/*# sourceMappingURL=index.css.map */
